//- .modal-search 

//-   .container

//-     .modal-search__wrap

//-       .modal-search__wrap--left

//-         .modal-search__content--left

//-           .modal-search__row

//-             .modal-search__label I am:
//-             .custom-select-wrapper.modal-search__select--wrapper
//-               .custom-select.modal-search__custom--select
//-                   .custom-select__trigger
//-                       span Female
//-                       .arrow
//-                   .custom-options
//-                       span.custom-option(data-value='Male') Male
//-                       span.custom-option.selected(data-value='Female') Female

//-           .modal-search__row
//-             .modal-search__label Looking for:
//-             .custom-select-wrapper.modal-search__select--wrapper
//-               .custom-select.modal-search__custom--select
//-                   .custom-select__trigger
//-                       span Male
//-                       .arrow
//-                   .custom-options
//-                       span.custom-option.selected(data-value='Male') Male
//-                       span.custom-option(data-value='Female') Female

//-           .modal-search__row.__range

//-             .modal-search__label.__range Age:

//-             .modal-search__noUiSlider
//-               #noUiSliderAge

//-           .modal-search__row.__range

//-             .modal-search__label.__range Weight:

//-             .modal-search__noUiSlider
//-               #noUiSliderWeight

//-           .modal-search__row.__range

//-             .modal-search__label.__range Height:

//-             .modal-search__noUiSlider
//-               #noUiSliderHeight

//-         .modal-search__content--right
//-           .modal-search__row.__column
//-             .modal-search__label Hair color
//-             .custom-select-wrapper.modal-search__select--wrapper
//-                 .custom-select.modal-search__custom--select
//-                     .custom-select__trigger
//-                         span Select here
//-                         .arrow
//-                     .custom-options
//-                         span.custom-option.selected(data-value='Male') Brown
//-                         span.custom-option(data-value='Female') Grey

//-           .modal-search__row.__column
//-             .modal-search__label Nation
//-             .custom-select-wrapper.modal-search__select--wrapper
//-                 .custom-select.modal-search__custom--select
//-                     .custom-select__trigger
//-                         span Select here
//-                         .arrow
//-                     .custom-options
//-                         span.custom-option.selected(data-value='1') 1
//-                         span.custom-option(data-value='2') 2

//-           .modal-search__row.__column
//-             .modal-search__label Country
//-             .custom-select-wrapper.modal-search__select--wrapper
//-                 .custom-select.modal-search__custom--select
//-                     .custom-select__trigger
//-                         span Select here
//-                         .arrow
//-                     .custom-options
//-                         span.custom-option.selected(data-value='1') 1
//-                         span.custom-option(data-value='2') 2

//-           .modal-search__row.__column
//-             .modal-search__label City
//-             .custom-select-wrapper.modal-search__select--wrapper
//-                 .custom-select.modal-search__custom--select
//-                     .custom-select__trigger
//-                         span Select here
//-                         .arrow
//-                     .custom-options
//-                         span.custom-option.selected(data-value='1') 1
//-                         span.custom-option(data-value='2') 2

//-       .modal-search__wrap--right
        