section.section-reviews

    .container

        .section-title.__white
            h2 Couple Stories
            .slider-title OLIVER & MARTA

        .slider-wrap
            .slider-container
                //- #slider-number.slider-number  
                .item.active 
                    .slider-left__side  
                        .review-first
                            span.rewiev-name Oliver:
                            span.rewiev-text To be honest a friend of mine convinced me to join the site. He was already using UD website for some time and communicated with a lady here. First, it freaked me out to receive so many letters every day, and while deleting them my eye caught a phrase that made me stop and read thoroughly. The lady wrote, Go on deleting, there is nothing interesting here". That was like she is watching me so I opened the letter, and you guess what I saw? Nothing! Nothing, but a photo of a cute gal looking at me with a different smile, as if asking me, do you dare to answer?

                        .review-second
                            span.rewiev-name Marta: 
                            span.rewiev-text And he had enough courage to write back! And it wasn't an ordinary letter. He sent me a dialogue from my favorite book “Alice in the Wonderland". And this was a start for us! This is the third time that Oliver comes to Chernivtsi, and yesterday he proposed to me.

                        .review-first
                            span.rewiev-name Oliver:
                            span.rewiev-text And we decided to share this great news with everyone here. Never give up guys, be positive, think big and everything will be just fine! We wish you Good Luck!:)) 

                    .slider-right__side
                        .img-holder
                            img(src="/img/slider-img.png", alt="")


                .item
                    .slider-left__side  
                        .review-first
                            span.rewiev-name 1Oliver:
                            span.rewiev-text To be honest a friend of mine convinced me to join the site. He was already using UD website for some time and communicated with a lady here. First, it freaked me out to receive so many letters every day, and while deleting them my eye caught a phrase that made me stop and read thoroughly. The lady wrote, Go on deleting, there is nothing interesting here". That was like she is watching me so I opened the letter, and you guess what I saw? Nothing! Nothing, but a photo of a cute gal looking at me with a different smile, as if asking me, do you dare to answer?

                        .review-second
                            span.rewiev-name Marta: 
                            span.rewiev-text And he had enough courage to write back! And it wasn't an ordinary letter. He sent me a dialogue from my favorite book “Alice in the Wonderland". And this was a start for us! This is the third time that Oliver comes to Chernivtsi, and yesterday he proposed to me.

                        .review-first
                            span.rewiev-name Oliver:
                            span.rewiev-text And we decided to share this great news with everyone here. Never give up guys, be positive, think big and everything will be just fine! We wish you Good Luck!:)) 

                    .slider-right__side
                        .img-holder
                            img(src="/img/slider-img.png", alt="")

                .item 
                    .slider-left__side  
                        .review-first
                            span.rewiev-name 2Oliver:
                            span.rewiev-text To be honest a friend of mine convinced me to join the site. He was already using UD website for some time and communicated with a lady here. First, it freaked me out to receive so many letters every day, and while deleting them my eye caught a phrase that made me stop and read thoroughly. The lady wrote, Go on deleting, there is nothing interesting here". That was like she is watching me so I opened the letter, and you guess what I saw? Nothing! Nothing, but a photo of a cute gal looking at me with a different smile, as if asking me, do you dare to answer?

                        .review-second
                            span.rewiev-name Marta: 
                            span.rewiev-text And he had enough courage to write back! And it wasn't an ordinary letter. He sent me a dialogue from my favorite book “Alice in the Wonderland". And this was a start for us! This is the third time that Oliver comes to Chernivtsi, and yesterday he proposed to me.

                        .review-first
                            span.rewiev-name Oliver:
                            span.rewiev-text And we decided to share this great news with everyone here. Never give up guys, be positive, think big and everything will be just fine! We wish you Good Luck!:)) 

                    .slider-right__side
                        .img-holder
                            img(src="/img/slider-img.png", alt="")

                .item 
                    .slider-left__side  
                        .review-first
                            span.rewiev-name 3Oliver:
                            span.rewiev-text To be honest a friend of mine convinced me to join the site. He was already using UD website for some time and communicated with a lady here. First, it freaked me out to receive so many letters every day, and while deleting them my eye caught a phrase that made me stop and read thoroughly. The lady wrote, Go on deleting, there is nothing interesting here". That was like she is watching me so I opened the letter, and you guess what I saw? Nothing! Nothing, but a photo of a cute gal looking at me with a different smile, as if asking me, do you dare to answer?

                        .review-second
                            span.rewiev-name Marta: 
                            span.rewiev-text And he had enough courage to write back! And it wasn't an ordinary letter. He sent me a dialogue from my favorite book “Alice in the Wonderland". And this was a start for us! This is the third time that Oliver comes to Chernivtsi, and yesterday he proposed to me.

                        .review-first
                            span.rewiev-name Oliver:
                            span.rewiev-text And we decided to share this great news with everyone here. Never give up guys, be positive, think big and everything will be just fine! We wish you Good Luck!:)) 

                    .slider-right__side
                        .img-holder
                            img(src="/img/slider-img.png", alt="")

            .slider-controls
                span#prev.prev 
                span#next.next(onabort='')

