section.section-services

    .container.__custom

        .section-title.__white
            h2 OUR SERVICES
            p Our services will make your contacts and conversations more pleasurable and productive in your search.

        .section-services__items
            .section-services__item
                .img-holder
                    img(src="/img/icons/ic.svg", alt="")

                .section-services__items--text Email Correspondence

            .section-services__item
                .img-holder
                    img(src="/img/icons/ic1.svg", alt="")

                .section-services__items--text Live Chst

            .section-services__item
               .img-holder
                   img(src="/img/icons/ic2.svg", alt="")

               .section-services__items--text Translation Service

            .section-services__item
               .img-holder
                   img(src="/img/icons/ic3.svg", alt="")

               .section-services__items--text CamShare

            .section-services__item
               .img-holder
                   img(src="/img/icons/ic4.svg", alt="")

               .section-services__items--text Search Feature

            .section-services__item
               .img-holder
                   img(src="/img/icons/ic5.svg", alt="")

               .section-services__items--text Mobile Optimized

            .section-services__item
               .img-holder
                   img(src="/img/icons/ic6.svg", alt="")

               .section-services__items--text Favorites

            .section-services__item
               .img-holder
                   img(src="/img/icons/ic7.svg", alt="")

               .section-services__items--text Gift Shop

            .section-services__item
               .img-holder
                   img(src="/img/icons/ic8.svg", alt="")

               .section-services__items--text Romantic Tours

            .section-services__item
               .img-holder
                   img(src="/img/icons/ic9.svg", alt="")

               .section-services__items--text Customer Support 24/7
                
                
                