section.section-app

    img(src="/img/app-bg.png", alt="").section-app__bg

    .container

        .section-app__content

            .section-app__title Finding your perfect match has never been easier with the Date Love Story app. 

            a(href="#").section-app__download Vailable for FREE download now

            a(href="#").section-app__apple
                img(src="/img/apple-download.png", alt="")

            a(href="#").section-app__android
                img(src="/img/android-download.png", alt="") 
                
