extends partials/layout

block vars
  - var title = "Date Love Story"

block content
  include partials/modal-search
  include partials/header
  include partials/section-services
  include partials/section-choose
  include partials/section-reviews
  include partials/section-works
  include partials/section-app





